/*
	
	Base CSS
	Version: 1.0.6
	
	Contains style for several of the utility classes common to WordPress
	
*/





/* testing stuff


#main > *, #header > * {
	outline: 1px solid rgba(255,0,0,0.3);
}

#main > * * {
	outline: 1px solid rgba(0,0,255,0.2);
}

.outline * {
	outline: 1px solid rgba(255,0,0,0.3);
}

-------------------------------------------------------------- */




/* content structure 
-------------------------------------------------------------- */

.site-container {
	display: flex;
	flex-wrap: wrap;
}

.site-content {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 66%;
}

.site-sidebar {
	flex-grow: 1;
}

.row {
	width: 88%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row .row {
	width: auto;
}

.page-header > *,
.the_content > * {
	width: 88%;
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.site-sidebar > * {
	max-width: 88%;
	margin: 3em auto;
}




/* basic alignment
-------------------------------------------------------------- */

.alignfull {
	width: 100%;
	max-width: none;
}

.alignwide {
	max-width: 1200px;
}

.alignwide.wider, .wide {
	max-width: none;
}

.alignleft,
.alignright {
	margin: 0.5em 0 1em 0;
}

.aligncenter * {
	text-align: center;
}

@media screen and (min-width: 600px) {
	
	.alignleft {
		float: left;
		margin-right: 2em;
		max-width: 50%;
	}
	
	.alignright {
		float: right;
		margin-left: 2em;
		max-width: 50%;
	}

}



/* Search Form 
-------------------------------------------------------------- */

.search-form {
	display: table;
	width: 100%;
}

.search-form label {
	display: table-cell;
}

.search-field {
	width: 100%;
}

.search-submit {
	display: table-cell;
	background: #ccc;
	width: 100%;
}



/* Misc
-------------------------------------------------------------- */

.screen-reader-text {
	display: none;
}



/* basic widgets 
-------------------------------------------------------------- */

.widget-area {
	opacity: 0.73;
}

.widget + .widget {
	margin-top: 2em;
	border-top: 1px solid #ddd;
	padding-top: 2em;
}

.widget_calendar th, .widget_calendar td {
	padding: 0.5em 0;
	text-align: center;
}

.widget.default {
	opacity: 0.5;
	border: 1px dashed #777;
	padding: 1em;
}





/* post navigation
-------------------------------------------------------------- */

.nav-links {
	font-size: 0.75em;
	padding: 3em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.nav-links .page-numbers {
	padding: 0.5em 0.75em;
	border: 1px solid #ddd;
}

.nav-links .page-numbers + .page-numbers {
	margin-left: 0.5em;
}

.nav-links .current {
	border: 1px solid #ccc;
	background-color: #eee;
}

.nav-links .prev, .nav-links .next {
	border: none;
	padding: 0.5em 0;
}

.nav-previous, .nav-next {
	display: inline-block;
	padding: 1em;
}

.nav-next {
	border-left: 1px solid #ccc;
}


/* sectionmenu
-------------------------------------------------------------- */

.sectionmenu {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.sectionmenu ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.sectionmenu > ul {
}

.sectionmenu > ul > li {
	border-top: 1px solid rgba(0,0,0,0.2);
}

.sectionmenu a {
	display: block;
	padding: 0.25em 0.5em 0.25em 0;
}

.sectionmenu ul li.current_page_item > a {
	font-weight: bold;
}

.sectionmenu ul li.current_page_item > a:before {
	content: "\025B8\00a0";
}

.sectionmenu ul ul li a:before {
/* 	content: "\02022\00a0"; */
}

.sectionmenu ul ul {
	display: none;
}

.sectionmenu ul li.current_page_item > ul,
.sectionmenu ul li.current_page_ancestor > ul {
	display: block;
}

@media ( min-width: 720px ) {
	
	.sectionmenu {
		margin-bottom: 2em;
	}
	
	.sectionmenu + * {
		overflow: hidden;
	}
	
}


