
/*
	
	Base CSS
	Version: 1.0.5
	
	Contains style for several of the utility classes common to WordPress
	
*/

/* wp-block */

.the_content > [class*="wp-block"] {
	margin: 2rem auto;
}



/* buttons */

a[class*="wp-block-button"] {
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

a[class*="wp-block-button"]:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

a[class*="wp-block-button"]:active {
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	position: relative;
	top: 1px;
}



/* media block */

[class].wp-block-media-text .wp-block-media-text__content {
	padding: 9%;
}



/* block table */

[class].wp-block-table.is-style-stripes {
	border-spacing: 0;
	border-collapse: inherit;
	background-color: rgba(0,0,0,0.015);
	border-bottom: 1px solid rgba(0,0,0,0.0);
}

[class].wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: rgba(0,0,0,0.03);
}




/* group block */

.wp-block-group {
	padding: 6%;
}

.wp-block-group > * {
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}



/* block gallery */

[class].wp-block-gallery .blocks-gallery-item figcaption {
	padding: 0.25em 1em 0.375em;
	background: rgba(0,0,0,0.4);
}





/* Search Form 
-------------------------------------------------------------- */

.search-form {
	display: table;
	width: 100%;
}

.search-form label {
	display: table-cell;
}

.search-field {
	width: 100%;
}

.search-submit {
	display: table-cell;
	background: #ccc;
	width: 100%;
}


/* Misc
-------------------------------------------------------------- */

.screen-reader-text {
	display: none;
}



/* basic widgets 
-------------------------------------------------------------- */

.widget-area {
	opacity: 0.73;
}

.widget + .widget {
	margin-top: 2em;
	border-top: 1px solid #ddd;
	padding-top: 2em;
}

.widget_calendar th, .widget_calendar td {
	padding: 0.5em 0;
	text-align: center;
}

.widget.default {
	opacity: 0.5;
	border: 1px dashed #777;
	padding: 1em;
}





/* post navigation
-------------------------------------------------------------- */

.nav-links {
	font-size: 0.75em;
	padding: 3em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.nav-links .page-numbers {
	padding: 0.5em 0.75em;
	border: 1px solid #ddd;
}

.nav-links .page-numbers + .page-numbers {
	margin-left: 0.5em;
}

.nav-links .current {
	border: 1px solid #ccc;
	background-color: #eee;
}

.nav-links .prev, .nav-links .next {
	border: none;
	padding: 0.5em 0;
}

.nav-previous, .nav-next {
	display: inline-block;
	padding: 1em;
}

.nav-next {
	border-left: 1px solid #ccc;
}


/* sectionmenu
-------------------------------------------------------------- */

.sectionmenu {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.sectionmenu ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.sectionmenu > ul {
}

.sectionmenu > ul > li {
	border-top: 1px solid rgba(0,0,0,0.2);
}

.sectionmenu a {
	display: block;
	padding: 0.25em 0.5em 0.25em 0;
}

.sectionmenu ul li.current_page_item > a {
	font-weight: bold;
}

.sectionmenu ul li.current_page_item > a:before {
	content: "\025B8\00a0";
}

.sectionmenu ul ul li a:before {
/* 	content: "\02022\00a0"; */
}

.sectionmenu ul ul {
	display: none;
}

.sectionmenu ul li.current_page_item > ul,
.sectionmenu ul li.current_page_ancestor > ul {
	display: block;
}

@media ( min-width: 720px ) {
	
	.sectionmenu {
/*
		float: right;
		max-width: 18em;
		margin-left: 4em;
		margin-top: 0;
*/
		margin-bottom: 2em;
	}
	
	.sectionmenu + * {
		overflow: hidden;
	}
	
}


