body {
	background: #fafafa;
}

p:first-child, .title:first-child {
	margin-top: 0;
}

p:last-child, .title:last-child {
	margin-bottom: 0;
}

.row {
	width: 88%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row .row {
	width: auto;
}



/* header stuff 
-------------------------------------------------------------- */

#header {
	padding: 3em 0;
}

#masthead {
	position: relative;
	z-index: 10;
}

#masthead .title {
	font-size: 2.0em;
}

#masthead a {
	color: #555;
}

@media (min-width:800px) {

	#header .row {
		display: flex;
		justify-content: space-between;
	}
	
	
	#menu > ul {
		background: transparent;
	}
	
}

@media (max-width:800px) {
	
	#header {
		text-align: center;
		padding: 6% 0;
	}
	
	#masthead {
		margin-bottom: 1em;
	}
	
}



/* content structure 

#content {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}
-------------------------------------------------------------- */

@media screen and (min-width: 960px) {
	
	#content {
		display: flex;	
	}
	
	.site-content {
		flex: 3;
	}
	
	.site-sidebar {
		flex: 1;
	}

}
 
.site-content .the_content > *:not( .alignwide ):not( .alignfull ) {
	width: 88%;
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.site-sidebar > * {
	max-width: 88%;
	margin: 3em auto;
}

.alignfull {
	display: block;
}

.alignwide {
	width: 88%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.alignwide.wider {
	max-width: none;
}



/* testing stuff


#content > * {
	outline: 1px solid rgba(255,0,0,0.3);
}

#content > * * {
	outline: 1px solid rgba(0,0,255,0.2);
}

-------------------------------------------------------------- */







/* post styles 
-------------------------------------------------------------- */

#content .page-header {
	padding: 3em;
	opacity: 0.75;
}

#content .post {
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.2);
	max-width: 1000px;
	margin: auto;
	padding-bottom: 6%;
}

#content .post + .post {
	margin-top: 3em;
}

#content .post .featured_image,
#content .post header {
	margin-top: 6%;
	margin-bottom: 6%;
}

#content h1.title {
	line-height: 1;
	margin-bottom: 0.375em
}

#content .post header .meta {
	opacity: 0.7;
}

#content .post header .meta > * {
	font-size: 11px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 1px
}

@media (min-width:800px) {
	
	#content h1.title {
		font-size: 4.5em;
	}

	#content .post header .meta > * {
		display: inline-block;
	}

	#content .post header .meta > :nth-child(n+2) {
		margin-left: 1em;
		border-left: 1px solid #ddd;
		padding-left: 1em;
	}
	
}

.gallery-icon, .gallery-caption {
	position: relative;
	margin: 4px;
	z-index: 1;
}

.gallery-item:before {
	display: block;
	content: "";
	border: 1px solid #ddd;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
}


/* footer styles 
-------------------------------------------------------------- */

#footer {
	padding: 3em 0;
}

#footer * {
/* 	outline: 1px solid rgba(255,0,0,0.3); */
}

#footer nav {
	font-size: 0.8em;
	text-transform: uppercase;
}

@media (min-width:800px) {

	#footer .row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	#footer .row > * {
		margin: 0;
	}
	
	
	#footer > ul {
		background: transparent;
	}
	
}

@media (max-width:800px) {
	
	#footer {
		text-align: center;
		padding: 6% 0;
	}
	
	#description {
		margin-bottom: 1em;
	}
	
}

